:root {
  --orange1: 24, 70%, 99%;
  --orange2: 24, 83.3%, 97.6%;
  --orange3: 24, 100%, 95.3%;
  --orange4: 25, 100%, 92.2%;
  --orange5: 25, 100%, 88.2%;
  --orange6: 25, 100%, 82.8%;
  --orange7: 24, 100%, 75.3%;
  --orange8: 24, 94.5%, 64.3%;
  --orange9: 24, 94%, 50%;
  --orange10: 24, 100%, 46.5%;
  --orange11: 24, 100%, 37%;
  --orange12: 15, 60%, 17%;
  /* --teal1: 165, 60.0%, 98.8%;
  --teal2: 169, 64.7%, 96.7%;
  --teal3: 169, 59.8%, 94.0%;
  --teal4: 169, 53.1%, 90.2%;
  --teal5: 170, 47.1%, 85.0%;
  --teal6: 170, 42.6%, 77.9%;
  --teal7: 170, 39.9%, 68.1%;
  --teal8: 172, 42.1%, 52.5%;
  --teal9: 173, 80.0%, 36.0%;
  --teal10: 173, 83.4%, 32.5%;
  --teal11: 174, 90.0%, 25.2%;
  --teal12: 170, 50.0%, 12.5%; */

  --sand1: 50, 20%, 99%;
  --sand2: 60, 7.7%, 97.5%;
  --sand3: 59, 6.5%, 95.1%;
  --sand4: 58, 6.1%, 92.9%;
  --sand5: 57, 6%, 90.7%;
  --sand6: 56, 5.9%, 88.4%;
  --sand7: 55, 5.9%, 85.2%;
  --sand8: 51, 6%, 77.1%;
  --sand9: 50, 2%, 55.7%;
  --sand10: 55, 1.7%, 51.9%;
  --sand11: 50, 2%, 43.1%;
  --sand12: 50, 6%, 10%;
  /* --sage1: 155, 30.0%, 98.8%;
  --sage2: 150, 16.7%, 97.6%;
  --sage3: 151, 10.6%, 95.2%;
  --sage4: 151, 8.8%, 93.0%;
  --sage5: 151, 7.8%, 90.8%;
  --sage6: 152, 7.2%, 88.4%;
  --sage7: 153, 6.7%, 85.3%;
  --sage8: 154, 6.1%, 77.5%;
  --sage9: 155, 3.5%, 55.5%;
  --sage10: 154, 2.8%, 51.7%;
  --sage11: 155, 3.0%, 43.0%;
  --sage12: 155, 24.0%, 9.0%; */
}
.dark-theme {
  --orange1: 30, 70%, 7.2%;
  --orange2: 28, 100%, 8.4%;
  --orange3: 26, 91.1%, 11.6%;
  --orange4: 25, 88.3%, 14.1%;
  --orange5: 24, 87.6%, 16.6%;
  --orange6: 24, 88.6%, 19.8%;
  --orange7: 24, 92.4%, 24%;
  --orange8: 25, 100%, 29%;
  --orange9: 24, 94%, 50%;
  --orange10: 24, 100%, 58.5%;
  --orange11: 24, 100%, 62.2%;
  --orange12: 24, 97%, 93.2%;
  /* --teal1: 168, 48.0%, 6.5%;
  --teal2: 169, 77.8%, 7.1%;
  --teal3: 170, 76.1%, 9.2%;
  --teal4: 171, 75.8%, 11.0%;
  --teal5: 171, 75.7%, 12.8%;
  --teal6: 172, 75.8%, 15.1%;
  --teal7: 172, 76.7%, 18.6%;
  --teal8: 173, 80.2%, 23.7%;
  --teal9: 173, 80.0%, 36.0%;
  --teal10: 174, 83.9%, 38.2%;
  --teal11: 174, 90.0%, 40.7%;
  --teal12: 166, 73.0%, 93.1%; */
  --sand1: 61, 2%, 8.3%;
  --sand2: 60, 3.7%, 10.6%;
  --sand3: 58, 3.7%, 13.1%;
  --sand4: 57, 3.6%, 15.3%;
  --sand5: 56, 3.7%, 17.4%;
  --sand6: 55, 3.7%, 19.9%;
  --sand7: 53, 3.7%, 23.6%;
  --sand8: 50, 3.8%, 30.6%;
  --sand9: 50, 4%, 42.7%;
  --sand10: 52, 3.1%, 48.3%;
  --sand11: 50, 4%, 61.8%;
  --sand12: 56, 4%, 92.8%;
  /* --sage1: 155, 7.0%, 8.4%;
  --sage2: 150, 7.4%, 10.6%;
  --sage3: 150, 6.7%, 13.1%;
  --sage4: 150, 6.4%, 15.3%;
  --sage5: 150, 6.1%, 17.4%;
  --sage6: 150, 5.8%, 19.9%;
  --sage7: 150, 5.5%, 23.6%;
  --sage8: 150, 5.1%, 30.6%;
  --sage9: 155, 6.0%, 42.5%;
  --sage10: 153, 4.8%, 48.2%;
  --sage11: 155, 5.0%, 61.8%;
  --sage12: 155, 6.0%, 93.0%; */
}