.base {
  & {
    background-image: url(/sprite/movie-grade-24.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }

  $positions: (
    "all": 0 0,
    "12": -24px 0,
    "15": 0 -24px,
    "18": -24px -24px,
    "forbid": -48px 0,
  );

  @each $key, $pos in $positions {
    &:global.--#{$key} {
      background-position: $pos;
    }
  }
}
