@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  -webkit-tap-highlight-color: transparent;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

html,
body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

#root {
  @apply bg-neutral-1 text-neutral-12 min-h-screen;
}

/* Fonts */

html {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue",
    "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif !important;
}

/* Inputs */

input[type="text"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="password"],
textarea,
select {
  @apply rounded px-2 leading-loose
  bg-neutral-2
  out-1 outline-neutral-6
  focus:outline-primary-7 focus:outline-2;
}

/* Data Table */

table.hq-data-table {
  border-collapse: collapse;
}

table.hq-data-table thead {
  @apply border-b-2 border-solid border-neutral-6 p-2;
  @apply bg-neutral-9 text-neutral-1 font-bold;
  @apply sticky top-0;
}

table.hq-data-table th,
table.hq-data-table td {
  @apply border-b border-solid border-neutral-6 p-2;
}

table.hq-data-table th:not(:last-child),
table.hq-data-table td:not(:last-child) {
  border-right: 1px solid theme("colors.neutral.6");
  border-right-style: dashed;
}

/* Form Table */

table.hq-form-table {
  @apply table-fixed
  @apply border-separate border-spacing-4;
}

table.hq-form-table th,
table.hq-form-table td {
  @apply p-2;
}

table.hq-form-table th {
  @apply text-right;
}

table.hq-form-table td {
  @apply text-left;
}

table.hq-form-table select {
}

/* Day Picker */

.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: theme("colors.primary.9");
  --rdp-background-color: theme("colors.neutral.2");
  /* Switch to dark colors for dark themes */
  --rdp-accent-color-dark: theme("colors.primary.9");
  --rdp-background-color-dark: theme("colors.neutral.2");
  /* Outline border for focused elements */
  --rdp-outline: 2px solid var(--rdp-accent-color);
  /* Outline border for focused and selected elements */
  --rdp-outline-selected: 2px solid rgba(0, 0, 0, 0.75);
}
