@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  -webkit-tap-highlight-color: transparent;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

html,
body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

#root {
  @apply bg-neutral-1 text-neutral-12 min-h-screen;
}

/* Fonts */

html {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif !important;
}

/* Inputs */

input[type="text"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="password"] {
  @apply rounded px-2
  bg-neutral-2
  out-1 outline-neutral-6
  focus:outline-primary-7 focus:outline-2;
}

/* Data Table */

table.hq-data-table {
  border-collapse: collapse;
}

table.hq-data-table thead {
  border-bottom: 2px solid theme("colors.neutral.6");
}

table.hq-data-table th,
table.hq-data-table td {
  border-bottom: 1px solid theme("colors.neutral.6");
  padding: 8px;
}

table.hq-data-table th:not(:last-child),
table.hq-data-table td:not(:last-child) {
  border-right: 1px solid theme("colors.neutral.6");
  border-right-style: dashed;
}