.root {
  @apply flex items-center justify-center
  outline outline-1 rounded
  cursor-pointer transition;

  @extend %__md;

  &:disabled {
    cursor: not-allowed !important;
    filter: saturate(0) opacity(.5);
  }
}

/* Variants */

.__tonal {
  @apply bg@3 text@12 outline@5;
  &:hover {
    @apply bg@4 outline@6;
  }
  &:active {
    @apply bg@5 outline@6;
  }
  &:focus {
    @apply outline@7;
  }
}

.__contained {
  @apply bg@9 text@1 outline@10;
  &:hover {
    @apply bg@10 outline@10;
  }
  &:active {
    @apply bg@11 outline@11;
  }
  &:focus {
    @apply outline@11;
  }
}

.__text {
  @apply bg-transparent text@11 outline-transparent;
  &:hover {
    @apply bg@4 outline@4;
  }
  &:active {
    @apply bg@5 outline@5;
  }
  &:focus {
    @apply outline@5;
  }
}

/* Tints */

@function getThemeColor($name, $scale, $opacity: 1) {
  @return theme("colors.#{$name}.#{$scale}");
}

$tints: primary, neutral;

@each $tint in $tints {
  .__#{$tint} {
    @for $i from 1 through 12 {
      --h-color-#{$i}: #{getThemeColor($tint, $i, 1)};
    }
  }
}

/* Sizes */

.__sm {
  --label-px: #{calc(3 / 4)}rem; // .75rem; // 3*4px
  @apply p-1;
}

// .__md is default
%__md {
  --label-px: #{calc(4 / 4)}rem;// 1rem; // 4*4px
  @apply p-2;
}

.__lg {
  --label-px: #{calc(4 / 4)}rem; // 1rem; // 4*4px
  @apply p-4;
}

/* Children */

.label {
  color: inherit;
  @apply text-base font-semibold leading-6;
  padding-left: var(--label-px);
  padding-right: var(--label-px);
}

.icon {
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;

  @apply
  leading-6
  w-6 h-6;
}
